################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/obj
/.vs
/bin/Release/Castle.Core.dll
/bin/Release/Castle.Core.xml
/bin/Release/IBatisNet.Common.Logging.Log4Net.dll
/bin/Release/IBatisNet.Common.Logging.Log4Net.xml
/bin/Release/IBatisNet.Common.dll
/bin/Release/IBatisNet.Common.xml
/bin/Release/IBatisNet.DataMapper.dll
/bin/Release/IBatisNet.DataMapper.xml
/bin/Release/Newtonsoft.Json.dll
/bin/Release/Newtonsoft.Json.xml
/bin/Release/ProphetsWay.BaseDataAccess.dll
/bin/Release/ProphetsWay.BaseDataAccess.pdb
/bin/Release/ProphetsWay.MyBatisTools.dll
/bin/Release/ProphetsWay.MyBatisTools.pdb
/bin/Release/ProphetsWay.Utilities.dll
/bin/Release/ProphetsWay.Utilities.pdb
/bin/Release/log4net.dll
/bin/Release/log4net.xml
/bin/Release/protobuf-net.dll
/bin/Release/protobuf-net.xml
